<div class="row staticPictureSection2">
		<div class="col-sm-12 productInfo" style="text-align: left !important;">

			<img src="images/product_name_content.png">

				<p>Available Colors</p>
				<ul class="availableColorsList">
					<li><a href="#" style="background-color: #2e3349;" data-color="#2e3349" ng-click="pickPallete($event)">&nbsp;</a></li>
					<li><a href="#" style="background-color: #8b8380;" data-color="#8b8380" ng-click="pickPallete($event)">&nbsp;</a></li>
					<li><a href="#" style="background-color: #4d443d;" data-color="#4d443d" ng-click="pickPallete($event)">&nbsp;</a></li>
					<li><a href="#" style="background-color: #3e2e2f;" data-color="#3e2e2f" ng-click="pickPallete($event)">&nbsp;</a></li>
				</ul>
		</div>
	</div>
