<div class="col-sm-12 video_section" style="position:absolute; left:0;">
	<video controls loop width="80%" height="auto">
			<source src="images/video/tablet_test_2.mp4" type="video/mp4">
		</video>
</div>

<div class="col-sm-5 left-section hideLeftStaticPicture" style="padding: 15px;">
	<div class="row staticPictureSection" style="border: 0;">
		<div class="col-sm-12 productImages">
			<div class="col-sm-12 singleImage"><img src="images/static/main_image_W.png" class="img-responsive center-block" id="static-img-m" alt="Static_Picture" style="border: 2px solid #eee;"></div>
			<div class="imageToggle col-sm-12">
				<div class="col-sm-3"><a href="#"><img id="static-img-1" src="images/static/1_W.png"></a></div>
				<div class="col-sm-3"><a href="#"><img id="static-img-2" src="images/static/2_W.png"></a></div>
				<div class="col-sm-3"><a href="#"><img id="static-img-3" src="images/static/3.png"></a></div>
				<div class="col-sm-3"><a href="#"><img id="static-img-4" src="images/static/4_W.png"></a></div>
			</div>
		</div>
	</div>
</div>

<div class="col-sm-3 middle-section hideMiddleStaticPicture">
	<div class="row staticPictureSection2">
			<div class="col-sm-12 productInfo" style="text-align: left !important;">

				<img src="images/product_name_content.png">

					<p>Available Colors</p>
					<ul class="availableColorsList">
						<li><a href="#" style="background-color: #2f3349;" data-static="1" data-color="1" ng-click="pickPallete($event)">&nbsp;</a></li>
						<li><a href="#" style="background-color: #eae9e5;" data-static="2" data-color="2" ng-click="pickPallete($event)">&nbsp;</a></li>
						<li><a href="#" style="background-color: #3f4339;" data-static="3" data-color="3" ng-click="pickPallete($event)">&nbsp;</a></li>
						<li><a href="#" style="background-color: #572828;" data-static="4" data-color="4" ng-click="pickPallete($event)">&nbsp;</a></li>
					</ul>
			</div>
		</div>

</div>


<!-- <div class="col-sm-8">
	<div>
		<video controls>
			<source src="images/video/tablet_test.mp4" type="video/mp4">
		</video>
	</div>
</div> -->


<div class="col-sm-4 right-section" style="float:right;">
	<div>
		<div class="switchViewButton">
			<button class="btn btn-lg" id="main_view_button">Main View</button>
			<button class="btn btn-lg" id="video_button">Video</button>
		</div>
		<h2>Static Picture</h2>
		<p>A professional studio-grade photo of your product to display in House Tipster’s marketplace. Requires shipping of product(s) to our location.</p>
	</div>
</div>






<script type="text/javascript">
$("#video_button").click(function() {
  $(".hideLeftStaticPicture, .hideMiddleStaticPicture").toggle({display: 'hidden'});
});
</script>






<!-- Modal -->
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<video width="800" controls>
					<source src="images/video/scanyourthings_test_video.mp4" type="video/mp4">
				</video>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div> -->
